@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// $font-family: 'Anton', sans-serif;
$font-family: 'Merriweather', serif;

/*Screen*/
$mobileScreen:375px;
$tabletScreen:700px;
$desktopScreen:1000px;

/*Color*/
$mainColor:#fb6f92;
$lightPink:#ffe5ec;
$lightGray:#f8f9fa;
$gray:#212529;
$gray2:#495057;
$gray3:#6c757d;


